In [1]:
print('oi')

oi

# Entrada e saída de dados

Este notebook conterá nossas referências sobre entrada e saída de dados. O pandas pode ler uma variedade de tipos de arquivos usando seus métodos pd.read_. Vejamos os tipos de dados mais comuns:

In [1]:
import pandas as pd

## CSV

### CSV Input

In [2]:
df = pd.read_csv(r'D:\_Gabriel\Estudo\ProgramaçãoGeral\python\AulasUdemy\original\Python-Data-Science-and-Machine-Learning-Bootcamp\2. Python para análise de dados\Pandas\exemplo')
df

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\_Gabriel\\Estudo\\ProgramaçãoGeral\\python\\AulasUdemy\\original\\Python-Data-Science-and-Machine-Learning-Bootcamp\\2. Python para análise de dados\\Pandas\\exemplo'

### Saída de dados tipo CSV

In [3]:
df.to_csv('exemplo.csv',index=False)

NameError: name 'df' is not defined

## Excel

Pandas podem ler e escrever arquivos do Excel, tenha em mente, isso só importa dados. Não fórmulas nem imagens, lembrando que imagens ou macros podem bugar o método.

### Entrada via Excel

In [ ]:
pd.read_excel('Exemplo_Excel.xlsx',sheetname='Sheet1')

### Saída via Excel

In [3]:
df.to_excel('Exemplo_Excel.xlsx',sheet_name='Sheet1')

NameError: name 'df' is not defined

## HTML

Você pode precisar instalar htmllib5, lxml e BeautifulSoup4. No seu terminal / prompt de comando, execute:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4
    
Em seguida, reinicie o Jupyter Notebook. 
(Ou use instalação de pip se não estiver usando a Distribuição de Anaconda)
Pandas podem ler guias de tabelas fora de html. Por exemplo:

### Entrada HTML

A função Pandas read_html irá ler tabelas fora de uma página da Web e retornar uma lista de objetos DataFrame:

In [7]:
pip install lxml

Collecting lxmlNote: you may need to restart the kernel to use updated packages.

  Downloading lxml-4.5.0-cp38-cp38-win_amd64.whl (3.7 MB)
Installing collected packages: lxml
Successfully installed lxml-4.5.0

In [4]:
import lxml

In [5]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [12]:
df[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
...,...,...,...,...,...,...
555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
556,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

____