In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Empresa':['GOOG','GOOG', 'MSFT','MSFT','FB','FB'],
        'Nome':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
        'Venda':[200,120,340,124,243,350]}
data

{'Empresa': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Nome': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Venda': [200, 120, 340, 124, 243, 350]}

In [3]:
df = pd.DataFrame(data)
df

  Empresa     Nome  Venda
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [4]:
grupo = df.groupby('Empresa')

In [5]:
grupo.describe()

        Venda
        count   mean         std    min     25%    50%     75%    max
Empresa
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [6]:
grupo.sum('GOOG')

TypeError: f() takes 1 positional argument but 2 were given

In [ ]:
df

In [7]:
df.head(5)

  Empresa     Nome  Venda
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243

In [8]:
df['Empresa'].unique()

array(['GOOG', 'MSFT', 'FB'], dtype=object)

In [9]:
df

  Empresa     Nome  Venda
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [13]:
df.to_excel("testepandas.xlsx")

In [11]:
df['0']

KeyError: '0'