In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sea

In [77]:
df = pd.read_excel('D:/_Gabriel/Estudo/ProgramaçãoGeral/Excel/PD_churras.xlsx')
df.rename(columns={'Unnamed: 10':'Valores'}, inplace=True)
df

,Nomes:,Comida,Bebida,Extras,Já pagou,Total individual:,Falta:,Unnamed: 7,Unnamed: 8,Unnamed: 9,Valores,Dividindo:
0,Gab,1.0,0.0,1.0,100.0,54.333333,-45.666667,NaN,NaN,Valor churras:,230.0,46.000000
1,Diogo,1.0,1.0,1.0,130.0,84.333333,-45.666667,NaN,NaN,Valor drinks:,150.0,30.000000
2,Fe,0.0,1.0,0.0,125.0,30.000000,-95.000000,NaN,NaN,extras:,50.0,8.333333
3,Gustin,1.0,0.0,1.0,55.0,54.333333,-0.666667,NaN,NaN,Total:,430.0,NaN
4,Rod,0.0,0.0,1.0,20.0,8.333333,-11.666667,NaN,NaN,NaN,NaN,NaN
5,Rafa,1.0,1.0,0.0,0.0,76.000000,76.000000,NaN,NaN,NaN,NaN,NaN
6,Jun,1.0,1.0,1.0,0.0,84.333333,84.333333,NaN,NaN,NaN,NaN,NaN
7,Pedrin,0.0,1.0,1.0,0.0,38.333333,38.333333,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
20,Totais:,5.0,5.0,6.0,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def primeiroVazio(data):
    nulo = df['Nomes:'].isnull()
    count = 0
    for cada in nulo:
        if cada == False:
            count+=1
        else:
            return count

In [87]:
def addCria(data):
    DF = data
    
    cria = str(input('Entre com o nome do cria:'))
    Comeu = int(input('Comeu? (1 pra sim, 0 pra não)'))
    Bebeu = int(input('Bebeu? (1 pra sim, 0 pra não)'))
    hihi = int(input('Extra? (1 pra sim, 0 pra não)'))
    pagou = float(input('Já pagou quanto?'))
    
    totalC = DF['Valores'][0]
    totalB = DF['Valores'][1]
    totalE = DF['Valores'][2]
    
    n = primeiroVazio(data)
    #DF.iloc[n] = {cria,Comeu,Bebeu,extra,pagou,0,0,0,0,0,0,0}
    DF.iloc[n] = {cria : 'eu', Comeu : 2, 'Bug' : 3, hihi :4, 'Já pagou':5, 'Total individual:':0, 'Falta:':0, 'Unnamed: 7':0,'Unnamed: 8':0,'Unnamed: 9':0,'Valores':0,'Dividindo:':0}

In [61]:
a = {'cria' : 'cria', 'Comeu': 'Comeu', 'Bebeu': 'Bebeu', 'hihi' : 0, 'pagou': 'pagou', 'Total individual:':0, 'Falta:':0, 'Unnamed: 7':0,'Unnamed: 8':0,'Unnamed: 9':0,'Valores':0,'Dividindo:':0}
a

{'cria': 'cria',
 'Comeu': 'Comeu',
 'Bebeu': 'Bebeu',
 'hihi': 0,
 'pagou': 'pagou',
 'Total individual:': 0,
 'Falta:': 0,
 'Unnamed: 7': 0,
 'Unnamed: 8': 0,
 'Unnamed: 9': 0,
 'Valores': 0,
 'Dividindo:': 0}

In [63]:

df.iloc[10] = {'Nomes:': 'eu', 'Comida': 2,'Bebida': 3, 'Extras':4, 'Já pagou':5, 'Total individual:':0, 'Falta:':0, 'Unnamed: 7':0,'Unnamed: 8':0,'Unnamed: 9':0,'Valores':0,'Dividindo:':0}

In [64]:
df

,Nomes:,Comida,Bebida,Extras,Já pagou,Total individual:,Falta:,Unnamed: 7,Unnamed: 8,Unnamed: 9,Valores,Dividindo:
0,Gab,1,0,1,100,54.3333,-45.6667,NaN,NaN,Valor churras:,230,46
1,Diogo,1,1,1,130,84.3333,-45.6667,NaN,NaN,Valor drinks:,150,30
2,Fe,0,1,0,125,30,-95,NaN,NaN,extras:,50,8.33333
3,Gustin,1,0,1,55,54.3333,-0.666667,NaN,NaN,Total:,430,NaN
4,Rod,0,0,1,20,8.33333,-11.6667,NaN,NaN,NaN,NaN,NaN
5,Rafa,1,1,0,0,76,76,NaN,NaN,NaN,NaN,NaN
6,Jun,1,1,1,0,84.3333,84.3333,NaN,NaN,NaN,NaN,NaN
7,Pedrin,0,1,1,0,38.3333,38.3333,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
10,Nomes:,Comida,Bebida,Extras,Já pagou,Total individual:,Falta:,Unnamed: 7,Unnamed: 8,Unnamed: 9,Valores,Dividindo:
11,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
20,Totais:,5,5,6,430,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
primeiroVazio(df)

10

In [89]:
addCria(df)

Entre com o nome do cria:ate amn
Comeu? (1 pra sim, 0 pra não)1
Bebeu? (1 pra sim, 0 pra não)0
Extra? (1 pra sim, 0 pra não)1
Já pagou quanto?25

ValueError: Must have equal len keys and value when setting with an iterable

In [82]:
df

,Nomes:,Comida,Bebida,Extras,Já pagou,Total individual:,Falta:,Unnamed: 7,Unnamed: 8,Unnamed: 9,Valores,Dividindo:
0,Gab,1.0,0,1.0,100,54.3333,-45.6667,NaN,NaN,Valor churras:,230,46
1,Diogo,1.0,1,1.0,130,84.3333,-45.6667,NaN,NaN,Valor drinks:,150,30
2,Fe,0.0,1,0.0,125,30,-95,NaN,NaN,extras:,50,8.33333
3,Gustin,1.0,0,1.0,55,54.3333,-0.666667,NaN,NaN,Total:,430,NaN
4,Rod,0.0,0,1.0,20,8.33333,-11.6667,NaN,NaN,NaN,NaN,NaN
5,Rafa,1.0,1,0.0,0,76,76,NaN,NaN,NaN,NaN,NaN
6,Jun,1.0,1,1.0,0,84.3333,84.3333,NaN,NaN,NaN,NaN,NaN
7,Pedrin,0.0,1,1.0,0,38.3333,38.3333,NaN,NaN,NaN,NaN,NaN
8,nepos,1.0,Bebida,0.0,Já pagou,Total individual:,Falta:,Unnamed: 7,Unnamed: 8,Unnamed: 9,Valores,Dividindo:
9,bra,1.0,Bebida,0.0,Já pagou,Total individual:,Falta:,Unnamed: 7,Unnamed: 8,Unnamed: 9,Valores,Dividindo:
10,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
20,Totais:,5.0,5,6.0,430,NaN,NaN,NaN,NaN,NaN,NaN,NaN