In [2]:
import pandas as pd
import numpy as np

In [3]:
dados = np.arange(0,81).reshape(9,9)
dados

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

In [4]:
plan = pd.DataFrame(dados,['a b c d e f g h i'.split()],['A' ,'B' ,'C' ,'D',' E', 'F',' G',' H','I'] )

In [5]:
plan

    A   B   C   D   E   F   G   H   I
a   0   1   2   3   4   5   6   7   8
b   9  10  11  12  13  14  15  16  17
c  18  19  20  21  22  23  24  25  26
d  27  28  29  30  31  32  33  34  35
e  36  37  38  39  40  41  42  43  44
f  45  46  47  48  49  50  51  52  53
g  54  55  56  57  58  59  60  61  62
h  63  64  65  66  67  68  69  70  71
i  72  73  74  75  76  77  78  79  80

In [6]:
plan['J'] = [1, 2, 3 ,4 ,5 ,6 ,7,8,9]

In [7]:
plan.drop('J',1,inplace =True)

In [8]:
plan.loc['a']

   A  B  C  D   E  F   G   H  I
a  0  1  2  3   4  5   6   7  8

In [9]:
plan.iloc[2]

A     18
B     19
C     20
D     21
 E    22
F     23
 G    24
 H    25
I     26
Name: (c,), dtype: int32

In [10]:
plan

    A   B   C   D   E   F   G   H   I
a   0   1   2   3   4   5   6   7   8
b   9  10  11  12  13  14  15  16  17
c  18  19  20  21  22  23  24  25  26
d  27  28  29  30  31  32  33  34  35
e  36  37  38  39  40  41  42  43  44
f  45  46  47  48  49  50  51  52  53
g  54  55  56  57  58  59  60  61  62
h  63  64  65  66  67  68  69  70  71
i  72  73  74  75  76  77  78  79  80

In [53]:
fora = ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C','D','D','D']
fora

['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'D', 'D', 'D']

In [54]:
dentro = [1,2,3,1,2,3,1,2,3,1,2,3]
dentro

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [55]:
tuplas = list(zip(fora,dentro))
tuplas

[('A', 1),
 ('A', 2),
 ('A', 3),
 ('B', 1),
 ('B', 2),
 ('B', 3),
 ('C', 1),
 ('C', 2),
 ('C', 3),
 ('D', 1),
 ('D', 2),
 ('D', 3)]

In [57]:
df = pd.DataFrame(np.random.randn(12,5), index = tuplas)
df

               0         1         2         3         4
(A, 1)  0.733108  0.682713 -0.207605 -0.286238  1.891351
(A, 2) -0.528844  0.246615  2.676457  1.352034 -0.970689
(A, 3)  0.687132  1.212414 -0.660134  0.118669 -1.507080
(B, 1)  1.991147 -0.604462  1.933695 -0.104637 -0.057199
(B, 2) -0.549108  0.098873 -1.913949 -0.220535  0.963236
(B, 3)  1.229107  2.170854 -0.533469  0.938538 -0.138971
(C, 1)  0.331067 -1.441372  0.662347 -1.613733  0.419229
(C, 2) -1.062068  0.395108 -0.578353 -0.845165  1.111498
(C, 3) -1.164910  0.389318  1.687404  0.238645 -0.952973
(D, 1)  2.430998 -0.085187  0.192338  1.748182  0.242381
(D, 2) -0.132283  0.216986 -1.918829 -0.636981  1.350666
(D, 3)  0.041366  0.119939  0.731561  1.136806 -0.722258

In [58]:
i_index = pd.MultiIndex.from_tuples(tuplas)
i_index

MultiIndex([('A', 1),
            ('A', 2),
            ('A', 3),
            ('B', 1),
            ('B', 2),
            ('B', 3),
            ('C', 1),
            ('C', 2),
            ('C', 3),
            ('D', 1),
            ('D', 2),
            ('D', 3)],
           )

In [59]:
df = pd.DataFrame(np.random.randn(12,5), index = i_index)
df

            0         1         2         3         4
A 1  0.387190 -0.673818  0.316689 -0.721081  0.112299
  2 -0.044814 -0.135826  0.229788  0.419332  0.834830
  3  0.814251 -1.280689 -0.335534 -1.580118  0.750813
B 1 -0.911548  0.262424 -0.087492 -0.181688 -0.436673
  2 -1.018649 -0.133162 -0.771486 -0.968269 -0.177201
  3  0.687851 -0.526487 -1.086498  1.400785 -0.342487
C 1  0.810466  1.686384  1.870857  0.225722 -0.721818
  2  0.822587 -1.201330 -1.239757 -2.123306  0.255917
  3 -0.524027  1.996461  0.623395 -0.838395 -1.393631
D 1  0.251752 -0.292799  0.346212  0.081798 -1.086772
  2 -0.597419  2.483210  0.819967 -0.860675  0.518972
  3 -0.337537 -1.913609 -1.311430  0.076141 -1.196427

In [60]:

df.loc['A'].loc[1]

0    0.387190
1   -0.673818
2    0.316689
3   -0.721081
4    0.112299
Name: 1, dtype: float64

In [66]:
platu = ['Andre', 'Andre','Andre','Andre','Andre','Andre','Bruno','Bruno','Bruno','Bruno','Bruno','Bruno']
tuplas2 = list(zip(platu,i_index))

In [67]:
tuplas2

[('Andre', ('A', 1)),
 ('Andre', ('A', 2)),
 ('Andre', ('A', 3)),
 ('Andre', ('B', 1)),
 ('Andre', ('B', 2)),
 ('Andre', ('B', 3)),
 ('Bruno', ('C', 1)),
 ('Bruno', ('C', 2)),
 ('Bruno', ('C', 3)),
 ('Bruno', ('D', 1)),
 ('Bruno', ('D', 2)),
 ('Bruno', ('D', 3))]

In [68]:
i2_index = pd.MultiIndex.from_tuples(tuplas2)

In [69]:
df2 = pd.DataFrame(np.random.randn(12,5), index = i2_index)

In [65]:
df2

                     0         1         2         3         4
Andre (A, 1) -0.219100  2.030551 -1.052683 -0.641177  0.175566
      (A, 2) -0.201009 -0.090154  1.844373  0.665366 -2.057393
      (A, 3) -0.159420 -0.593837  0.067979  1.653830 -0.196829
      (B, 1) -0.307319  1.100659 -1.938654  0.412300 -0.879422
      (B, 2) -1.459539 -0.088367 -0.124044  0.405063 -1.259597
      (B, 3)  0.319148  0.545672 -0.109512 -0.103902  0.589867
Bruno (C, 1) -0.948015  0.258801  1.222260  0.592701  0.576830
      (C, 2)  0.168040  0.801506 -0.455795  1.378807  0.593274
      (C, 3)  0.404871  1.678142  0.901228  0.760780  1.200976
      (D, 1) -0.288263  0.194014 -0.999016 -0.497932  1.795623
      (D, 2)  0.343438 -0.894066  0.753995  0.654133 -1.476839
      (D, 3)  0.992836  0.338181 -1.339220  1.927069  0.280653

In [70]:
df

            0         1         2         3         4
A 1  0.387190 -0.673818  0.316689 -0.721081  0.112299
  2 -0.044814 -0.135826  0.229788  0.419332  0.834830
  3  0.814251 -1.280689 -0.335534 -1.580118  0.750813
B 1 -0.911548  0.262424 -0.087492 -0.181688 -0.436673
  2 -1.018649 -0.133162 -0.771486 -0.968269 -0.177201
  3  0.687851 -0.526487 -1.086498  1.400785 -0.342487
C 1  0.810466  1.686384  1.870857  0.225722 -0.721818
  2  0.822587 -1.201330 -1.239757 -2.123306  0.255917
  3 -0.524027  1.996461  0.623395 -0.838395 -1.393631
D 1  0.251752 -0.292799  0.346212  0.081798 -1.086772
  2 -0.597419  2.483210  0.819967 -0.860675  0.518972
  3 -0.337537 -1.913609 -1.311430  0.076141 -1.196427

In [71]:
df.xs[1]

TypeError: 'method' object is not subscriptable